<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/starter-template.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <!--<link href="/signin.css" rel="stylesheet">-->
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Autenticação</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/noticias">Noticias</a>
          </li>
                  
          <% if(locals.user) {%>
          <% if(locals.roles ==='restrito') {%>
            <li class="nav-item">
              <a class="nav-link" href="/restrito/noticias">Noticias Restritas</a>
            </li>
          <% } %>
          <% if(locals.roles ==='admin') {%>
            <li class="nav-item">
              <a class="nav-link" href="/admin/noticias">Noticias Admin</a>
            </li>
          <% } %>            
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= locals.user.username || locals.user.name %></a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <% if(locals.user.roles.length>1) {%>
                <% locals.user.roles.forEach( role => {%> 
                  <a class="dropdown-item" href="/change-role/<%= role %>"><%= role %></a>
                <% }) %>
              <% }%>
              <a class="dropdown-item" href="/logout">Sair</a>
            </div>
          </li>
          <% }else { %> 
          <li class="nav-item">
            <a class="nav-link" href="/login">Entrar</a>
          </li>
          <% } %>          
        </ul>
      </div>
    </nav>

    <div class="container">