<% include partials/header %>
<!-- Custom styles for this template -->
      <div class="starter-template">
        <h1>ENTRAR</h1>
            <form class="form-signin" method="post">
                <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Por favor, identifique-se</h1>
                <label for="inputUsername" class="sr-only">Usuario</label>
                <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Nome de usuario" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
                <p></p>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
                <a class="btn btn-lg btn-primary btn-block" href="/facebook">Entrar com facebook</a>
                <a class="btn btn-lg btn-primary btn-block" href="/google">Entrar com Google</a>
            </form>
      </div>

<% include partials/footer %>