<% include ../partials/header %>

      <div class="starter-template">
        <h1>Noticias Admin</h1>
        <table>
            <% noticias.forEach( noticia => { %>
            <tr>
                <td><%= noticia.title %></td>
            </tr>
            <% }) %>
        </table>
      </div>
      

<% include ../partials/footer %>